<div class="top-menu">
    <img class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<!-- <button (click)="onCourseEdited()">Edit Courses</button> -->

 <!-- Pipe examples -->
<div class="demo">
    <div>
        <!-- Date pipe with date output formatting  -->
        Start Date: {{ startDate | date: 'MMM/dd/yyyy' }}
    </div>
    <!-- <div>
        text formatting pipe
        {{ title | uppercase }}
    </div>
    <div>
        Number formatting pipe
        {{ price | number: '3.3-5' }}
    </div>
    <div>
        Currency formatting pipe
        {{ price | currency: 'EUR' }}
    </div>
    <div>
        Currency formatting pipe
        {{ rate| percent }}
    </div> -->

    <!-- JSON pipe
    <div>
        {{ courses | json }}
    </div> -->

    <!-- Key value pair pipe for object data
    <div *ngFor="let pair of course | keyvalue">
        {{pair.key + ': ' + pair.value}}
    </div> -->
</div>

<div class="courses" #container>

    <!-- Define ng-template with an input context 'let-courseName' (this enables reusability of the ng-template block error message) -->
    <ng-template #blankImage let-courseName="description">
        <p class="warn">{{courseName}} has no image is available</p>
        <img src="/assets/empty-image.png">
    </ng-template>

    <!-- *** Commented out as it's best practice to instantiate ng-template as an input param directly into the component as done below in course-card component [noImageTpl]="blankImage" '') -->
    <!-- Instantiate ng-template using ngTemplateOutlet within ng-container (best practice to instantiate ng-template as an input param directly into the component as done below in course-card component [noImageTpl]="blankImage" '') -->
    <!-- Context variable used to access let-courseName="description" input context -->
    <!-- <ng-container *ngTemplateOutlet="blankImage; context: {description: course.description}"></ng-container> -->

    <!-- Catch course object payload using the $event emitter, pass the payload to the courseSelected() custom event. *Custom event is named the same as the @Output EventEmitter-->
    <!-- isFirst references the first item in the courses array, isLast is last item - can then be used to add custom class - [class.is-first]="isFirst" / [class.is-last]="isLast" -->
    <course-card 
        *ngFor="let course of courses; 
        index as i; 
        first as isFirst; 
        last as isLast;"
        [class.is-first]="isFirst" 
        [class.is-last]="isLast" 
        (courseSelected)="onCourseSelected($event)" 
        [course]="course" [cardIndex]="i + 1"
        [noImageTpl]="blankImage">

        <course-image [src]="course.iconUrl"></course-image>
    </course-card>

    <!-- Template Querying - View Child Decorator example -->
    <course-card
        (courseSelected)="onCourseSelected($event)" 
        [course]="courses[0]">

        <course-image [src]="course.iconUrl"></course-image>
    </course-card>

    <!-- Template Querying - View Child Decorator example using template ref variable #cardRef -->
    <course-card #cardRef
        (courseSelected)="onCourseSelected($event)" 
        [course]="courses[0]">

        <course-image [src]="course.iconUrl"></course-image>
    </course-card>

    <!-- Content Projection component example - configurable components using <ng-content></ng-content> -->
    <!-- To get references to the content of the content projection, using ng-content - use @contentChild
    @ContentChildren can be used to get reference to the components within component elements that are not inside <ng-content></ng-content>  -->
    <course-card 
        (courseSelected)="onCourseSelected($event)" 
        [course]="courses[0]">

        <course-image [src]="course.iconUrl"></course-image>
    </course-card>

</div>


